DATABASE_URL="postgresql://postgres:postgres@localhost:5432/phytoemagry?schema=public"
PORT=3000

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TLS=false

OPENAI_API_KEY=
EVOLUTION_URL=
AUTHENTICATION_API_KEY=
WEBHOOK_URL=
WEBHOOK_SECRET=

STORAGE_ENDPOINT=
STORAGE_PUBLIC_URL=
STORAGE_REGION=auto
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_BUCKET=